<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-lg-6 col-md-6">
      <form>
        <div class="form-group" *ngFor="let property of formSchema | keyvalue">
          <h3>{{property.value.title}}</h3>
          <h6>{{property.value.description}}</h6>
          <hr />
          <div *ngFor="let prop of property.value.properties | keyvalue">
          <label>{{prop.value.title}}</label>
          <input type="text" class="form-control" name={{prop.key}} minLength={{prop.value.minLength}} placeholder={{prop.value.default}}  />
          </div>
        </div>
        <input type="button" value="Submit" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>